# This is the .mapfile used by git shortlog

Amitav <Amitav.Khandelwal@staples.com> Khandelwal, Amitav <Amitav.Khandelwal@staples.com>

Avinash <Avinash.Dodda@staples.com> Dodda, Avinash <Avinash.Dodda@staples.com>
Avinash <Avinash.Dodda@staples.com> Avinash <Avinash.Dodda@staples.com>

Burc <Burc.Oral@staples.com> Burc Oral <burcoral@alum.mit.edu>
Burc <Burc.Oral@staples.com> Oral, Burc <burcoral@alum.mit.edu>
Burc <Burc.Oral@staples.com> Oral, Burc <Burc.Oral@Staples.com>

Diana <Diana.Sutlief@staples.com> Sutlief, Diana <Diana.Sutlief@staples.com>

Dinesh <Venkata.Parchuri@staples.com> ParVe002 <Venkata.Parchuri@staples.com>

Renate <Renate.Pyhel@staples.com> Pyhel, Renate <Renate.Pyhel@staples.com>
Renate <Renate.Pyhel@staples.com> Renate Pyhel <Renate.Pyhel@staples.com>

Steve <Stephen.Dow@staples.com> Dow, Stephen <Stephen.Dow@staples.com>
Steve <Stephen.Dow@staples.com> Steve Dow <Stephen.Dow@staples.com>
Steve <Stephen.Dow@staples.com> unknown <DowSt001@FRA42495.staplesams.com>

Yongnan <Yongnan.Zhou@staples.com> Yongnan Zhou <Yongnan.Zhou@staples.com>
Yongnan <Yongnan.Zhou@staples.com> Zhou, Yongnan <Yongnan.Zhou@staples.com>
