<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.staples">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="app.staples.gcm.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="app.staples.gcm.permission.C2D_MESSAGE"/>
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_app"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name="app.staples.mobile.cfa.MainActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Deep linking using CFA schema -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="staples.com" android:pathPrefix="/cfa"/>
            </intent-filter>
            <!-- Deep linking for mobile and weeklyad -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="m.staples.com" android:pathPattern="/.*/product_.*"/>
                <data android:scheme="http" android:host="m.staples.com" android:pathPattern="/.*/cat_BI.*"/>
                <data android:scheme="http" android:host="m.staples.com" android:pathPattern="/.*/cat_CL.*"/>
                <data android:scheme="http" android:host="weeklyad.staples.com" android:pathPrefix="/StaplesSD/WeeklyAd"/>
            </intent-filter>
        </activity>
        <activity android:name="com.apptentive.android.sdk.ViewActivity"
                  android:theme="@style/Apptentive.Theme.Transparent"/>
        <!-- Support for Leanplum -->
        <receiver
            android:name="com.leanplum.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="app.staples.gcm"/>
            </intent-filter>
        </receiver>
        <service android:name="com.leanplum.LeanplumPushService"/>
        <!-- Support for Adobe Omniture Analytic -->
        <receiver android:name="app.staples.mobile.cfa.analytics.GPBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <!-- Support for Google Play Services -->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBeINK9pcpeVzrzHp9dxprm5XwuvXeCV9g"/>
        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true"/>
    </application>
</manifest>
