<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.staples.mobile.cfa">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- This is will enhance the device ID for Kount -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- For Urban Airship-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <permission android:name="${applicationId}.permission.UA_DATA" android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.UA_DATA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <application
		android:name=".MainApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_app"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.staples.mobile.cfa.OPEN_SKU"/>
                <action android:name="com.staples.mobile.cfa.OPEN_CATEGORY"/>
                <action android:name="com.staples.mobile.cfa.OPEN_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name=".notify.NotifyReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED"/>
                <action android:name="com.urbanairship.push.OPENED"/>
                <action android:name="com.urbanairship.push.RECEIVED"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>
        <!-- Support for Urban Airship -->
        <activity android:name="com.urbanairship.CoreActivity"/>
        <activity android:name="com.urbanairship.actions.ActionActivity"/>
        <activity
            android:name="com.urbanairship.actions.LandingPageActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.urbanairship.actions.SHOW_LANDING_PAGE_INTENT_ACTION" />
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity android:name="com.apptentive.android.sdk.ViewActivity" android:theme="@style/Apptentive.Theme.Transparent"/>
        <receiver android:name="com.urbanairship.CoreReceiver"
                  android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="com.urbanairship.push.OPENED"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.urbanairship.push.GCMPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>
        <service android:name="com.urbanairship.push.PushService" android:label="Push Notification Service"/>
        <service android:name="com.urbanairship.richpush.RichPushUpdateService" android:label="Rich Push Update Service"/>
        <service android:name="com.urbanairship.actions.ActionService" android:label="Action Service"/>
        <service android:name="com.urbanairship.analytics.EventService" android:label="Event Service"/>
        <service android:name="com.urbanairship.location.LocationService" android:label="Segments Service"/>
        <provider
            android:name="com.urbanairship.UrbanAirshipProvider"
            android:authorities="${applicationId}.urbanairship.provider"
            android:permission="${applicationId}.permission.UA_DATA"
            android:exported="true"
            android:multiprocess="true"/>
        <!-- Support for Google Play Services -->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBeINK9pcpeVzrzHp9dxprm5XwuvXeCV9g"/>
    </application>
</manifest>
